.page-container {
    width: 100%;
    height: 100vh;
    /* 100% of the viewport height */
    overflow: auto;
    /* Enables scrolling */
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

.home-page {
    background-color: #dfdedc;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.comparation-page {
    background-color: #f6f5f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}