<div class="container">
    <h1>Categories</h1>
    <div id="content-holder">
        <div class="categories-holder">
            <div class="content">
                <div *ngFor="let category of categories" (mouseenter)="category.hovered = true" (mouseleave)="category.hovered = false">
                    <button class="category" >
                        <div (click)="toggleActiveCategory(category.id)">{{ isActiveCategory(category.id) ? '▼' : '►' }} {{ category.name }}</div>
                        <div id="icons" *ngIf="category.hovered">
                            <img src="assets/9026700_pencil_simple_thin_icon.svg" alt="Edit" (click)="triggerEditCategoryPopup(category)"/>
                            <img src="assets/9027022_trash_thin_icon.svg" alt="Remove" (click)="showDeleteCategoryPopup(category)"/>
                        </div>
                    </button>
                    <div *ngIf="isActiveCategory(category.id)" class="undercategories">
                        <div *ngFor="let undercategory of category.undercategories" class="undercategory" (mouseenter)="undercategory.hovered = true" (mouseleave)="undercategory.hovered = false">
                            <button  
                                    (click)="setSelectedUndercategory(undercategory.id)" 
                                    [class.selected-undercategory]="isSelectedUndercategory(undercategory.id)"
                                    >
                            {{ undercategory.name }}
                            </button>
                            <div id="icons-undercategory"  *ngIf="undercategory.hovered">
                                <img src="assets/9042190_add_media_image_icon.svg" alt="Images" (click)="showImagesPopup(undercategory.id)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="actions">
            <button id="add-category" (click)="triggerAddCategoryPopup();">Add Category</button>
            <button id="add-image" (click)="triggerAddImagePopup();">Add Image</button>
        </div>
    </div>
  </div>
  