<div id="container" *ngIf="popupVisible">
    <div id="image-preview">
        <img *ngIf="!imageLoaded" src="assets/9026847_image_square_thin_icon.svg" alt="Image preview" class="icon"/>
        <img *ngIf="imageLoaded" [src]="imageUrl" alt="Uploaded image" id="loaded-image"/>
    </div>
    
    <div class="section-wrapper">
        <div *ngIf="shownSection == 'upload-image'" class="content">
            <p class="section-header">Upload your image:</p>
            <div class="section">
                <div class="line">
                    <p>Upload file:</p>
                    <input type="file" id="file" accept="image/*" (change)="onFileSelected($event)"/>
                </div>
                <p class="between-text">Or</p>
                <div class="line">
                    <p>Paste the direct URL:</p>
                    <input type="text" id="url-input" (input)="onUrlInput($event)" />
                </div>
                <p class="between-text">Or</p>
                <div class="line">
                    <p>Generate random from ThisPersonDoesntExist:</p>
                    <button id="generate" (click)="generateRandomImage()">Generate</button>
                </div>
            </div>
        </div>

        <div *ngIf="shownSection == 'add-categories'" class="content">
            <p class="section-header">Add categories:</p>
            <div class="section" id="add-categories-section">
                <div id="search-field">
                    <input type="text" id="search-input" placeholder="Search for categories" [(ngModel)]="searchQuery" (input)="onSearch(searchQuery)"/>
                    <img src="assets/9026843_magnifying_glass_thin_icon.svg" alt="search-icon" id="search-icon"/>
                </div>
                <div id="options-wrapper">
                    <div id="search-options">
                        <div *ngFor="let category of filteredCategories">
                            <div
                              *ngFor="let undercategory of category.undercategories"
                              (click)="isUndercategorySelected(undercategory) ? removeUndercategory(undercategory) : selectUndercategory(category.name, undercategory)"
                              [ngClass]="{'selected': isUndercategorySelected(undercategory)}"
                              class="undercategory-option"
                            >
                          <p class="search-option" [ngClass]="{'selected': isUndercategorySelected(undercategory)}">{{ category.name }}.{{ undercategory.name }}</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="selected-options">
                    <div *ngFor="let undercategory of selectedUndercategories">
                      <p>{{ undercategory.name }}</p>
                      <img
                        src="assets/9027215_x_thin_icon.svg"
                        alt="Remove"
                        class="remove-undercategory-icon"
                        (click)="removeUndercategory(undercategory)"
                      />
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="shownSection == 'add-further-information'" class="content">
            <p class="section-header">Add further information and publish:</p>
            <div class="section" id="add-further-information-section">
                
                <div class="line">
                    <p>Image origin:</p>
                    <input type="text" id="image-origin"/>
                </div>
                <div class="line">
                    <p>Tags:</p>
                    <input type="text" id="image-origin"/>
                </div>
                <div class="line">
                    <p>Notes:</p>
                    <textarea type="text" id="image-origin" rows="2"></textarea>
                </div>
                
                <div id="buttons-publish-cancel">
                    <button id="publish" (click)="saveImage()">Publish</button>
                    <button id="cancel"(click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>

        <div id="control-elements">
            <img (click)="previousSection()" [src]="shownSection != 'upload-image' ? 'assets/9026267_caret_left_thin_icon.svg' : 'assets/placeholder-caret-right-left.svg'"/>
            <img (click)="nextSection()" [src]="imageLoaded && shownSection != 'add-further-information' ? 'assets/9026425_caret_right_thin_icon.svg' : 'assets/placeholder-caret-right-left.svg'"/>
        </div>
    </div>  
</div>

<div id="background" *ngIf="popupVisible" (click)="hidePopup()"></div>