<div id="container" *ngIf="popupVisible">
    <div class="item">
        <p>What is the name of your category?</p>
        <input type="text" id="category-name" [(ngModel)]="categoryName"/>
    </div>

    <div class="item">
        <p>Add undercategories:</p>
        <button id="add-undercategory" (click)="addUndercategory()">+ Add Undercategory</button>
        <div id="undercategories" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let undercateg of undercategories" >
                <div id="undercategory-wrapper" cdkDrag>
                    <img src="assets/9026874_list_thin_icon.svg" alt="Move" cdkDragHandle class="icon" id="move-icon"/>
                    <p *ngIf="!undercateg.currentlyEditing" (click)="editUndercategory(undercateg)">{{ undercateg.name }}</p>
                    <input *ngIf="undercateg.currentlyEditing" 
                        type="text" 
                        [(ngModel)]="undercateg.name" 
                        (blur)="saveUndercategory(undercateg)" 
                        />
                    <img src="assets/9027022_trash_thin_icon.svg" alt="Remove" (click)="removeUndercategory(undercateg)" class="icon"/>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="item" id="action-buttons">
        <button id="add-category" (click)="addOrEditCategory()">{{this.editingMode ? 'Save changes' : 'Add Caregory'}}</button>
        <button id="cancel" (click)="hidePopup()">Cancel</button>
    </div>
</div>

<div id="background" *ngIf="popupVisible" (click)="hidePopup()"></div>

<!--TODO: add images-->